$background-color: #32343a !default; // #252a34 !default;
$text-color: #eaeaea !default;
$primary-color: #ffbf00 !default; //#00adb5 !default;//그동안 쓰던 주황색 #ff7300
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: mix(
  rgb(231, 231, 231),
  $background-color,
  15%
) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#000, $background-color, 30%) !default;
$link-color: rgba(
  255,
  116,
  151,
  0.87
) !default; //mix($primary-color, $text-color, 40%) !default; // original mix($primary-color, $text-color, 40%) !default;
$link-color-hover: mix(
  #fff,
  $link-color,
  25%
) !default; // original mix(#fff, $link-color, 25%) !default;
$link-color-visited: original mix(#000, $link-color, 25%) !default; //#ffbf00 !default; // original mix(#000, $link-color, 25%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;
