@import "./style/bootstarp-custom.scss";
@import "./style/app.variables.scss";

.app-bar {
  height: $app-bar-height;
}

.drawer-munu {
  width: $drawer-munu-width;
  height: "100vh"; 
  top: $app-bar-height;
}

.cotent-container {
  padding: 1rem;
  margin-left: $drawer-munu-width;
}